<?xml version="1.0"?>
<config>
    <modules>
        <Super_StaticSuffix>
            <version>1.0.0</version>
        </Super_StaticSuffix>
    </modules>
    <global>
        <blocks>
            <super_staticSuffix>
                <class>Super_StaticSuffix_Block</class>
            </super_staticSuffix>
            <page>
                <rewrite>
                    <html_head>Super_StaticSuffix_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <super_staticSuffix>
                <class>Super_StaticSuffix_Helper</class>
            </super_staticSuffix>
        </helpers>
        <models>
            <super_staticSuffix>
                <class>Super_StaticSuffix_Model</class>
            </super_staticSuffix>
        </models>
        <events>
            <clean_media_cache_after>
                <observers>
                    <static_suffix_clean_media_cache_after>
                        <class>super_staticSuffix/observer</class>
                        <method>cleanMediaCacheAfter</method>
                    </static_suffix_clean_media_cache_after>
                </observers>
            </clean_media_cache_after>
        </events>
    </global>

    <default>
        <dev>
            <static_suffix>
                <enabled>1</enabled>
                <auto>1</auto>
                <version>1</version>
            </static_suffix>
        </dev>
    </default>
</config>